.progressContainer, progress-widget{
    position: relative;
}
.pw-background{
    position: absolute;
    left: 0;
    right: 0;
    top: -3px;
}
.time{
    position: absolute;
    left: 0;
    right: 0;
    top: 3.5rem;
}