.progressContainer, progress-widget{
    position: relative;
    height: 200px;
}
.pw-background{
    position: absolute;
    left: 0;
    right: 0;
    top: -3px;
}

.pw-progress{
    position: absolute;
    left: 0;
    right: 0;
    top: -3px;
}
.time{
    position: absolute;
    left: 0;
    right: 0;
    top: 3.5rem;
}